@rendermode InteractiveServer

<div class="margin-bottom-m">
    <button @onclick="() => OnStateChange(PageStatState.DisplayBrokenLinks)">Broken Links</button>
    <button @onclick="() => OnStateChange(PageStatState.DisplayPerformance)">Performance Stats</button>
    <button @onclick="() => OnStateChange(PageStatState.DisplayHeaders)">Page Headers</button>
</div>

@code {
    [Parameter] public EventCallback<PageStatState> PageStateChanged { get; set; }

    private async Task OnStateChange(PageStatState newState)
    {
        await PageStateChanged.InvokeAsync(newState);
    }

}