@using WebsiteAnalyzer.Infrastructure

@inject NavigationManager NavigationManager

@if (User is null)
{
    <RadzenStack class="rz-mt-12">
        <RadzenText TextStyle="TextStyle.H3">Take Control of Your Site's Performance and Maintenance</RadzenText>
        <RadzenText class="mb-4">
            While you can warm your cache right now and check for broken links now, creating a free account unlocks powerful features to automate and monitor your site's performance and reliability:
        </RadzenText>
        <ul>
            <li>Schedule automatic cache warming </li>
            <li>Track historical performance</li>
        </ul>
        <RadzenStack class="rz-mt-4">
        <RadzenLink Target="/Account/Register"><RadzenButton>Sign Up For Free</RadzenButton></RadzenLink>
        </RadzenStack>
    </RadzenStack>
}

@code {

    [Parameter]
    public required ApplicationUser? User { get; set; }

    private void RedirectToLogin()
    {
        NavigationManager.NavigateTo($"Account/login?returnUrl={Uri.EscapeDataString(NavigationManager.Uri)}");
    }
}