@inherits LayoutComponentBase

<RadzenLayout>
    <RadzenHeader>
        <NavMenu />
    </RadzenHeader>
    <RadzenBody>
        <div class="body">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>