@implements IDisposable

@inject NavigationManager NavigationManager

<header class="header">
    <div class="header-logo-title-container">
        <RadzenImage Path="/images/B_N_SVG_ClypperLogo.svg" class="header-icon"></RadzenImage>
        <div class="header-title-container">
            <a class="navbar-brand" href="">
                <RadzenText TextStyle="TextStyle.H4" Style="margin-bottom: 0;">Clypper's</RadzenText>
                <RadzenText TextStyle="TextStyle.H5" Style="margin-bottom: 0;">Website Analyzer</RadzenText>
            </a>
        </div>
    </div>
    <div class="nav-wrapper">
        <RadzenMenu Responsive="false">
            <RadzenMenuItem Text="Cache Warmer" Path="/cache-warmer" />
            <RadzenMenuItem Text="Broken Link Checker" Path="/broken-link-checker"/>
        </RadzenMenu>
    </div>
    
    <div class="utility-menu">
        <AuthorizeView>
            <Authorized>
                <RadzenProfileMenu>
                    <Template>
                        <RadzenGravatar Email="@context.User.Identity?.Name">
                        </RadzenGravatar>
                    </Template>
                    <ChildContent>
                        <RadzenProfileMenuItem Text="Profile Settings" Path="Account/Manage"/>
                        <form action="Account/Logout" method="post" style="padding:20px;">
                            <AntiforgeryToken/>
                            <input type="hidden" name="ReturnUrl" value="@currentUrl"/>
                            <RadzenButton ButtonType="ButtonType.Submit" class="nav-link">
                                <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                            </RadzenButton>
                        </form>
                    </ChildContent>
                </RadzenProfileMenu>
            </Authorized>
            <NotAuthorized>
                <RadzenMenu>
                    <RadzenLink Path="Account/Login">
                        <RadzenButton Text="Login"/>
                    </RadzenLink>
                    <RadzenMenuItem Text="Register" Path="Account/Register" />
                </RadzenMenu>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</header>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

}

