<div class="menu">
    <div class="navigation-item">
        <NavLink class="navigation-link" href="/website-analyser">
            Website Analyser
        </NavLink>
    </div>
    <div class="navigation-item">
        <NavLink class="navigation-link" href="/website-analyser-modular">
            Modular Analyser
        </NavLink>
    </div>
</div>