@page "/cache-warmer"
@using BrokenLinkChecker.web.Components.WebsiteInputs
@using WebsiteAnalyzer.Infrastructure.Services
@inject ICacheWarmingService CacheWarmingService

@rendermode InteractiveServer

<h2>Website Analyser</h2>

<WebsiteInput UriHasChanged="CheckBrokenLinks"></WebsiteInput>

@if (IsChecking)
{
    <p>Crawling website, please wait...</p>
    <p>Links enqueued: @_linksEnqueued</p>
}

@if (_linksChecked > 0)
{
    <p>Links checked: @_linksChecked</p>
}

@code {
    private bool IsChecking { get; set; }
    private int _linksChecked;
    private int _linksEnqueued;

    private async Task CheckBrokenLinks(Uri url)
    {
        IsChecking = true;

        ResetResults();

        await CacheWarmingService.WarmCacheAsync(url.ToString(), UpdateLinksEnqueued, UpdateLinksChecked);

        IsChecking = false;
    }

    private void ResetResults()
    {
        _linksChecked = 0;
        _linksEnqueued = 0;
    }

    private void UpdateLinksEnqueued(int count)
    {
        _linksEnqueued = count;
        InvokeAsync(StateHasChanged);
    }

    private void UpdateLinksChecked(int count)
    {
        _linksChecked = count;
        InvokeAsync(StateHasChanged);
    }

}
