@page "/check-links"
@using BrokenLinkChecker.crawler
@using BrokenLinkChecker.models
@using BrokenLinkChecker.web.Components.WebsiteMetrics
@inject HttpClient HttpClient
@rendermode InteractiveServer

<h3>Broken Link Checker</h3>

<div class="padding-vertical-m">
    <label for="urlInput">Enter URL:</label>
    <input id="urlInput" @bind="TargetUrl" />
    <button @onclick="CheckBrokenLinks">Crawl Website</button>
</div>

@if (IsChecking)
{
    <p>Crawling website, please wait...</p>
    <p>Links enqueued: @_linksEnqueued</p>
}

@if (_linksChecked > 0)
{
    <p>Links checked: @_linksChecked</p>
}

<StateButtons PageStateChanged="ChangePageState" />

@switch (_currentStatus)
{
    case PageStatState.DisplayPerformance:
        <PerformanceStats VisitedPages="@VisitedPages"/>
        break;
    case PageStatState.DisplayBrokenLinks:
        <BrokenLinksStats BrokenLinks="@BrokenLinks"/>
        break;
    case PageStatState.Error:
        <p>Error encountered during the process. Please try again.</p>
        break;
}

@code {
    public List<BrokenLink> BrokenLinks { get; set; } = [];
    public List<PageStats> VisitedPages { get; set; } = [];

    private string TargetUrl { get; set; } = "https://";
    
    private bool IsChecking { get; set; }

    private int _linksChecked;
    private int _linksEnqueued;

    private PageStatState _currentStatus = PageStatState.DisplayBrokenLinks;

    private async Task CheckBrokenLinks()
    {
        IsChecking = true;
        BrokenLinks = new List<BrokenLink>();

        CrawlerConfig crawlerState = new CrawlerConfig(16);
        Crawler crawler = new Crawler(HttpClient, crawlerState)
        {
            OnLinksEnqueued = (count) =>
            {
                _linksEnqueued = count;
                InvokeAsync(StateHasChanged);
            },
            OnLinksChecked = (count) =>
            {
                _linksChecked = count;
                InvokeAsync(StateHasChanged);
            },
            OnBrokenLinks = (links) =>
            {
                BrokenLinks = links;
                InvokeAsync(StateHasChanged);
            }
        };

        VisitedPages = await crawler.CrawlWebsiteAsync(new Uri(TargetUrl));
        IsChecking = false;
    }
    
    private void ChangePageState(PageStatState newState)
    {
        _currentStatus = newState;
    }
}
