@rendermode InteractiveServer

<button @onclick="() => OnStateChange(PageStatState.DisplayBrokenLinks)">Show Broken Links</button>
<button @onclick="() => OnStateChange(PageStatState.DisplayPerformance)">Show Performance Stats</button>

@code {
    [Parameter]
    public EventCallback<PageStatState> PageStateChanged { get; set; }

    private async Task OnStateChange(PageStatState newState)
    {
        await PageStateChanged.InvokeAsync(newState);
    }
}